<div class="row">
	<div class="col-md-12">
		<div class="panel panel-success">
			<div class="panel-heading">
				Ingredientes
			</div>
			<div class="panel-body">

				<div class="row">
					<div class="col-md-12">
						<button type="button" class="btn btn-primary btn-new">Novo</button>
					</div>
				</div>

				<hr />

				<div class="row">
					<div class="col-md-12 grid-content">
						<table class="display grid-ingredient" style="width:100%"></table>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="modal fade modal-ingredient" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Ingrediente</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="text" class="form-control edt-uid" hidden>

				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>Receita</label>
							<select class="form-control cbx-recipe"></select>
						</div>
					</div>
					<div class="col-md-8">
						<div class="form-group">
							<label>Ingredient</label>
							<input type="text" class="form-control edt-description" placeholder="Descrição">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>Valor</label>
							<input type="text" class="form-control edt-measure-value" placeholder="Valor">
						</div>
					</div>
					<div class="col-md-8">
						<div class="form-group">
							<label>Medida</label>
							<select class="form-control cbx-measure">
								<option value=""></option>
								<option value="1">Xícara</option>
								<option value="2">ML</option>
								<option value="3">Grama</option>
								<option value="4">Colher Sopa</option>
								<option value="5">Colher Café</option>
								<option value="6">Colher Chá</option>
							</select>
						</div>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-save">Salvar</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script src="~/js/MasterChef/ingredient/Ingredient_Index.js"></script>
}
