<from>
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="card" style="margin-top:60px">
                <div class="card-header">
                    <h3 class="text-center">Login</h3>
                </div>
                <div class="card-body">

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control edt-email" placeholder="E-mail">
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control edt-senha" placeholder="Senha">
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-login">Login</button>
                    </div>
                </div>
                <div class="card-footer" style="display:none">
                    <div class="d-flex justify-content-center links">
                        Não é cadastrado?<a href="#">Cadastre-se</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</from>

@section Scripts {
    <script src="~/js/MasterChef/Login/Login_Index.js"></script>
}
